extend layout

block head
    meta(name='keywords', content='#{(keywords || []).join(" ")}')
    meta(name='description', content='Brackets extensions - #{description}')

block content
    input#dailyUsers(type="hidden", value="#{dailyUsers}")

    div.extension-single
        h1.name #{title}

        if author.name
            div.author
                span by&nbsp;
                span.name
                    if (author.avatar)
                        img(src="#{author.avatar}")
                    else
                        span.icon-torso
                    a(href="/author/#{author.link}", title="#{author.name}") #{author.name}
                if engines
                    span &nbsp;for&nbsp;
                    each version, engine in engines
                        span.engine #{engine} #{version}&nbsp;

        div.description #{description}

        if keywords
            div.keywords
                each keyword in keywords
                    if (tags[keyword] > 2)
                        a.keyword(href="/tag/#{keyword}", title="#{tags[keyword] - 1} more extensions for #{keyword} tag") #{keyword} #{tags[keyword]}
                    else if (tags[keyword] === 2)
                        a.keyword(href="/tag/#{keyword}", title="One more extension for #{keyword} tag") #{keyword} #{tags[keyword]}
                    else
                        a.keyword(href="/tag/#{keyword}", title="#{keyword} tag") #{keyword}

        div.share.addthis_sharing_toolbox

        div.details
            div.caption.icon-search &nbsp;Details
            div.row
                div.label version
                div.content #{version}
            if homepage
                div.row
                    div.label homepage
                    div.content
                        a(href="#{homepage}", title="#{title} homepage", target="_blank") #{homepage}
            if repository !== homepage
                div.row
                    div.label repository
                    div.content
                        a(href="#{repository}", title="#{title} repository", target="_blank") #{repository}
            if created !== latest
                div.row
                    div.label modified
                    div.content.date #{latest}
            div.row
                div.label first seen
                div.content.date #{created}
            if github.stars
                div.row
                    div.label stars
                    div.content #{github.stars}
            if github.forks
                div.row
                    div.label forks
                    div.content #{github.forks}
            div.row
                div.label downloads
                if isFaked
                    div.content Faked data, don't do it in future
                else
                    div.content
                        span.number #{totalDownloads || 'no data available'}
                        if position
                            span.muted &nbsp;&nbsp;##{position} in&nbsp;
                            a(href="/extensions", title="Extension's rating") rating
            if license
                div.row(style="display: none;")
                    div.label license
                    div.content #{license}

        div.downloads
            div.caption.icon-download &nbsp;Downloads
            div#chart

        div.dailyUsers
            div.caption.icon-torso &nbsp;Daily Users
            div#chart-users
            div
                a(target="_blank", href="https://github.com/dnbard/brackets-extension-rating/wiki/Online-and-max-users-counters-in-this-extension") Enable this graphs for your extension

        if versions
            div.versions
                div.caption.icon-versions &nbsp;Versions
                each release in versions
                    div.version(title="#{title} v#{release.version} - #{release.downloads} downloads")
                        div.name
                            span #{release.version}
                            a(href="https://s3.amazonaws.com/extend.brackets/#{id}/#{id}-#{release.version}.zip", title="Download #{title} v#{release.version}", rel="nofollow").icon-download
                        div.date #{release.published}
                        div.number #{release.downloads}
                        div.bar(current="#{release.downloads}")

        div.readme
            div#disqus_thread
                script(type="text/javascript") var disqus_shortname = 'bracketsextensions'; (function() {var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq); })();

        div.readme
            div.caption.icon-markdown &nbsp;Readme
            input#repository(type="hidden", value="#{repository}")
            div.content.markdown-body #{readme}

block scripts
    script(type='text/javascript', src='http://cdn.jsdelivr.net/momentjs/2.8.3/moment.min.js')
    script(type='text/javascript', src='http://cdn.jsdelivr.net/d3js/3.4.12/d3.min.js')
    script(type='text/javascript', src='http://cdn.jsdelivr.net/rickshaw/1.3.0/rickshaw.min.js')
    script(type='text/javascript', src='../js/d3.layout.js')
    script(type='text/javascript', src='../js/markdown.js')
    script(type='text/javascript', src='../js/extension.js')

block head
    meta(property="og:title",content="#{title} - Brackets Extension")
    meta(property="og:type",content="article")
    meta(property="og:url",content="http://brackets.dnbard.com/extension/#{id}")
    meta(property="og:description",content="#{description}")
    meta(property="og:image",content="http://icons.iconarchive.com/icons/alecive/flatwoken/512/Apps-Brackets-B-icon.png")
