extend layout

block content
    div.center 1

    div.center
        div.widget
            h1.center Most Popular Extensions
            each extension in downloadsExtensionList
                p.extension
                    a(href="/extension/#{extension._id}") #{extension._id}
                    span.downloads &nbsp; #{extension.totalDownloads}

        div.widget
            h1.center Extensions
            p In registry: #{count} extensions
            p.bold Newest extension:
                div
                    a(href="/extension/#{newestExtension._id}") #{newestExtension._id}
                    span &nbsp;by&nbsp;
                    a(href="/author/#{newestExtension.author}") #{newestExtension.author}
            p.bold Extension with most downloads:
                div
                    a(href="/extension/#{downloadsExtension._id}") #{downloadsExtension._id}
                    span &nbsp;by&nbsp;
                    a(href="/author/#{downloadsExtension.author}") #{downloadsExtension.author}
