extend layout

block content
    div.extension-adv
        span The extension that let you know most popular and trending extensions for Brackets IDE
        a.install(href="https://github.com/dnbard/brackets-extension-rating") Learn more

    div.search
        input(placeholder="Search for extension")


    div.center
        div.widget
            h2.center.icon-graph-trend &nbsp;Most Popular Extensions
            p.center Randomly selected from the top 100
            div.separator
            each extension in downloadsExtensionList
                p.extension
                    a(href="/extension/#{extension._id}", title="#{extension.description}")
                        span.position #{extension.position}
                        span.name #{extension.title || extension._id}
                    span.downloads.number &nbsp; #{extension.totalDownloads}

        div.widget
            h2.center.icon-tag-2 &nbsp;Keywords
            p.center Keywords with the biggest selection
            div.separator
            each tag in tags
                p.tag
                    a(href="/tag/#{tag.name}", title="#{tag.name}") #{tag.name}
                    span.downloads &nbsp; #{tag.count}

        div.widget
            h2.center.icon-torso &nbsp;Authors
            p.center Authors
            div.separator
            each author in authors
                p.author
                    a(href="/author/#{author.name}", title="#{author.name}") #{author.name}
                    span.downloads &nbsp; #{author.count}

        div.widget
            h2.center.icon-chart-line &nbsp;Stats
            div.separator
            p
                span.bold In registry:
                span &nbsp;#{count} extensions, #{authorsCount} authors
            p.bold Newest extension:
                div
                    a(href="/extension/#{newestExtension._id}", title="#{newestExtension.description}") #{newestExtension.title}
                    span &nbsp;by&nbsp;
                    a(href="/author/#{newestExtension.author}") #{newestExtension.author}
            p.bold Extension with most downloads:
                div
                    a(href="/extension/#{downloadsExtension._id}", title="#{downloadsExtension.description}") #{downloadsExtension.title}
                    span &nbsp;by&nbsp;
                    a(href="/author/#{downloadsExtension.author}") #{downloadsExtension.author}
            p
                span.bold Users online:
                span &nbsp;#{online}

block scripts
    script(type='text/javascript', src='../js/index.js')
