extend layout

block head
    meta(name='keywords', content='brackets javascript CSS HTML IDE extension plugin')
    meta(name='description', content='Brackets IDE extensions')

block content
    div.search
        input.search-input(placeholder="Search for extension")

    div.center
        div.widget
            h2.center.icon-graph-trend &nbsp;Extensions
            p.details
                span randomly selected from the&nbsp;
                a(href="/extensions", title="Top 100 extensions by download count") Top 100
            div.separator
            each extension in downloadsExtensionList
                p.extension
                    a(href="/extension/#{extension._id}", title="#{extension.description}")
                        span.position #{extension.position}
                        span.name #{extension.title || extension._id}
                    span.downloads.number &nbsp; #{extension.totalDownloads}

        div#onlineWidget.widget
            div.progress
                div.progress-inner
            h2.center.icon-graph-trend &nbsp;Extensions
            p.details by number of online users
            div.separator
            div.holder
                each extension in extensionsOnline
                    p.extension(data-ext="#{extension.name}", data-online="#{extension.online}")
                        a(href="/extension/#{extension.name}")
                            span.name #{extension.title}
                        span.downloads &nbsp;
                            span.onlineValue(title="Online users of #{extension.title}") #{extension.online}
                            span.muted(title="Overall number of users for #{extension.title}")
                                span &nbsp/&nbsp
                                span.number #{extension.maxUsers}

        div.widget
            h2.center.icon-download &nbsp;Extensions
            p.details downloads during last 24 hours
            div.separator
            each extension in downloadsCounter
                p.extension
                    a(href="/extension/#{extension._id}")
                        span.name #{extension.title || extension._id}
                    span.downloads &nbsp;
                        span(title="#{extension.title || extension._id} daily downloads") #{extension.dailyDownloads}

        div.widget
            h2.center.icon-star-two &nbsp;Extensions
            p.details by number of stars at GitHub
            div.separator
            each extension in extensionsStars
                p.extension
                    a(href="/extension/#{extension._id}")
                        span.name #{extension.title || extension._id}
                    span.downloads &nbsp;
                        span(title="#{extension.title || extension._id} stars") #{extension.stars}

        div.widget
            h2.center.icon-torso &nbsp;Authors
            p.details by number of released extensions
            div.separator
            each author in authors
                p.author
                    a(href="/author/#{author.link}", title="#{author.name}") #{author.name}
                    span.downloads &nbsp; #{author.count}

        div.widget
            h2.center.icon-tag-2 &nbsp;Keywords
            p.details keywords with the biggest selection
            div.separator
            each tag in tags
                p.tag
                    a(href="/tag/#{tag.name}", title="#{tag.name}") #{tag.name}
                    span.downloads &nbsp; #{tag.count}

        div.widget-big.highlight
            h2.center.icon-chart-line &nbsp;Stats
            div.separator
            p
                span In registry:
                span.impact &nbsp;#{count} extensions, #{authorsCount} authors
            p
                span Registry JSON served:&nbsp;
                span.impact #{todayTransferedFormatted}(today), #{transferedFormatted}(month), #{overallTransferedFormatted}(overall)
            p Newest extension:
                div
                    a(href="/extension/#{newestExtension._id}", title="#{newestExtension.description}") #{newestExtension.title}
                    span &nbsp;by&nbsp;
                    a(href="/author/#{newestExtension.author}") #{newestExtension.author}
            p Extension with most downloads:
                div
                    a(href="/extension/#{downloadsExtension._id}", title="#{downloadsExtension.description}") #{downloadsExtension.title}
                    span &nbsp;by&nbsp;
                    a(href="/author/#{downloadsExtension.author}") #{downloadsExtension.author}
            p
                a(href="//www.liveinternet.ru/click",target="_blank")
                    img(src="//counter.yadro.ru/logo?14.11",title="LiveInternet: number of pageviews for 24 hours, of visitors for 24 hours and for today is shown",alt="",border="0",width="88",height="31")

block scripts
    script(type='text/javascript', src='../js/index.js')
